@charset "utf-8";
/* CSS Document */

body {
	background: linear-gradient(to right, #f2f6f8 0%,#d8e1e7 28%,#b5c6d0 68%,#e0eff9 100%);
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20px;
}
h1 {
	color: rgba(255,72,75,1);
	text-align: center;
	font-size: 40px;
}
h2 {
	color: #0094D3;
}
p{
	font-size: 20px;
	color: #333333;
	line-height: 1.5;
	margin: 20px;
}
.cursive {
	font-style: italic;
}
#paragraph1 {
	color: #2E9000;
	font-size: 30px;
}
.table-custom {
	width: 80%;
	border: 5px #f00 solid;
	margin: auto;
}
.table-custom td {
	border: #000 3px dotted;
	padding: 10px;
	text-align: center;
	font-size: 2em;
}
.img-custom {
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 20px;
	border-radius: 100%;
	border: 5px solid #f55;
	box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
.img-list {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	border: 5px solid #f55;
}			
.list-custom {
	margin: 50px 0;
}
.list-custom li {
	margin: 10px 0 20px 30px;
	list-style: circle;
}	
.list-horyzontal {
	text-align: center;
	margin: 0;
	padding: 0;

}
.list-horyzontal li{
	list-style: none;
	display: inline-block;
	margin: 10px;
}
